<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="styles/reset.css">	
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body ng-app="runtasticContestApp">
		<div class="header">
			<h3 class="text-muted">Runtastic solution</h3>
		</div>

		<div id="app" class="container">
			<div ng-view=""></div>
		</div>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="scripts/app.js"></script>



		<!-- Angular templates -->
		<script type="text/ng-template" id="/views/session/list.html">
		<div class="session-list" ng-show="sessionList.length">	
			<table>
				<thead>
					<tr>
						<th><a ng-click="sortBy('id')">ID</a></th>
						<th><a ng-click="sortBy('start_time')">Start time</a></th>
						<th><a ng-click="sortBy('end_time')">End time</a></th>
						<th><a ng-click="sortBy('duration')">Duration</a></th>
						<th><a ng-click="sortBy('distance')">Distance</a></th>
						<th>Sport type</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="session in sessionList" ng-click="selectSession(session)">
						<td><a href="#/session/{{session.id}}">{{session.id}}</a></td>
						<td>{{session.start_time | date:'dd.MM.yyyy, H:mm'}}</td>
						<td>{{session.end_time | date:'dd.MM.yyyy, H:mm'}}</td>
						<td>{{session.duration | duration}}</td>
						<td>{{session.distance | distance}}</td>
						<td>{{session.sport_type_id}}</td>
					</tr>
				</tbody>
			</table>

			<paging paging="pagingData" on-page-change="changePage()"></paging>
		</div>
		</script>

		<script type="text/ng-template" id="/views/session/details.html">
		<a href="#/session?page={{lastPage}}">Back</a>
		<h1>{{session}}</h1>
		</script>
</body>
</html>
