<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body ng-app="runtasticContestApp">
		<div id="app" class="container">
			<div class="header">
				<h3 class="text-muted">Runtastic solution</h3>
			</div>

			<div ng-view=""></div>
		</div>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="scripts/app.js"></script>


		<!-- Angular templates -->
		<script type="text/ng-template" id="/views/session/list.html">
		<div class="session-list" ng-show="sessionList">	
			<table>
				<thead>
					<tr>
						<th><a ng-click="sortBy('id')">ID</a></th>
						<th><a ng-click="sortBy('start_time')">Start time</a></th>
						<th><a ng-click="sortBy('end_time')">End time</a></th>
						<th><a ng-click="sortBy('duration')">Duration</a></th>
						<th><a ng-click="sortBy('distance')">Distance</a></th>
						<th><a ng-click="sortBy('encoded_trace')">Has trace</a></th>
						<th><a ng-click="sortBy('sport_type_id')">Sport type</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="session in sessionList" ng-click="selectSession(session)">
						<td><a href="#/session/{{session.id}}">{{session.id}}</a></td>
						<td>{{session.start_time | date:'dd.MM.yyyy, H:mm'}}</td>
						<td>{{session.end_time | date:'dd.MM.yyyy, H:mm'}}</td>
						<td>{{session.duration | duration}}</td>
						<td>{{session.distance | distance}}</td>
						<td>
							<span ng-show="session.encoded_trace">Yes</span>
							<span ng-show="!session.encoded_trace">No</span>
						</td>
						<td>{{session.sport_type_id}}</td>
					</tr>
				</tbody>
			</table>

			<div class="content">
				<paging paging="pagingData" on-page-change="changePage()"></paging>
			</div>
		</div>
		</script>

		<script type="text/ng-template" id="/views/session/details.html">
		<div class="details content">
			<div class="vertical content">
				<a href="#/session?page={{lastPage}}" class="button empty">Back</a>
			</div>

			<div ng-show="session">
				<h3>Session: {{session.id}}</h3>
				<p>
					This session lasted 
						from {{session.start_time | date:'dd.MM.yyyy, H:mm'}} 
						to {{session.end_time | date:'dd.MM.yyyy, H:mm'}}
				</p>

				<p>Total duration: {{session.duration | duration }}</p>
				<p>Total distance: {{session.distance | distance }}</p>
				<p>Sport type: {{session.sport_type_id }}</p>
				<p>Has map trace: 
					<span ng-show="session.encoded_trace">Yes</span>
					<span ng-show="!session.encoded_trace">No</span>
				</p>
			</div>
		</div>
		</script>
</body>
</html>
